name: Publish Dev Container Templates and Images

on:
  push:
    branches: main

jobs:
  publish-templates:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Dev Container Templates
        uses: devcontainers/action@v1
        with:
          publish-templates: "true"
          base-path-to-templates: "./templates"
          templates-namespace: "SituDevelopment/templates"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  prebuild-base-images:
    strategy:
      matrix:
        nodeVersion: [14, 16, 18, 20]
    env:
      NODE_VERSION: ${{ matrix.nodeVersion }}
      IMAGE_NAME: devcontainers/node-${{ matrix.nodeVersion }}
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dev Container CLI
        run: npm install -g @devcontainers/cli

      - name: Prebuild Dev Container Template
        env:
          NODE_VERSION: ${{ matrix.nodeVersion }}
        run: devcontainer build --workspace-folder ./templates/base --image-name ${{ env.IMAGE_NAME }}

      - name: Push Dev Container Image
        run: |
          docker tag ${{ env.IMAGE_NAME }} ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}:latest
          docker tag ${{ env.IMAGE_NAME }} ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push --all-tags ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}

  prebuild-python-images:
    needs: prebuild-base-images
    strategy:
      matrix:
        nodeVersion: [14, 16, 18, 20]
        pythonVersion: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    env:
      NODE_VERSION: ${{ matrix.nodeVersion }}
      PYTHON_VERSION: ${{ matrix.pythonVersion }}
      IMAGE_NAME: devcontainers/node-${{ matrix.nodeVersion }}-python-${{ matrix.pythonVersion }}
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dev Container CLI
        run: npm install -g @devcontainers/cli

      - name: Prebuild Dev Container Template
        env:
          NODE_VERSION: ${{ matrix.nodeVersion }}
        run: devcontainer build --workspace-folder ./templates/python --image-name ${{ env.IMAGE_NAME }}

      - name: Push Dev Container Image
        run: |
          docker tag ${{ env.IMAGE_NAME }} ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}:latest
          docker tag ${{ env.IMAGE_NAME }} ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push --all-tags ghcr.io/situdevelopment/${{ env.IMAGE_NAME }}
