name: Publish Images to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [base, python, web]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install DevContainer CLI
        run: npm install -g @devcontainers/cli

      - name: Build and push image to Amazon ECR
        env:
          CONTAINER_NAME: ${{ matrix.type }}-dev-container
        run: |
          devcontainer build --config $CONTAINER_NAME.json --image-name $CONTAINER_NAME --workspace-folder .
          docker push $CONTAINER_NAME
